.videoPlayer {
  position: relative;
  display: block;
  width: 640px;
  height: 390px;
  font-family: 'Droid Sans';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #000;
  outline: 0;
  margin: 0 auto;
  overflow: hidden;
  cursor: default;
}
.videoPlayer.loading .overlay:before {
  content: 'loading';
}
.videoPlayer.playing .controls .playControl:before {
  content: '\f04c';
}
.videoPlayer video {
  position: absolute;
  top: 0;
  left: 0;
}
.videoPlayer .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.videoPlayer .overlay:before {
  content: '\f04b';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  font-family: 'FontAwesome';
  font-size: 60px;
  line-height: 80px;
  color: #f3f3f3;
  text-align: center;
  margin-top: -40px;
  margin-left: -40px;
}
.videoPlayer .info {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  height: 28px;
}
.videoPlayer .info:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  border-radius: 4px;
  opacity: 0.5;
}
.videoPlayer .info .title {
  position: relative;
  font-size: 14px;
  line-height: 28px;
  color: #f3f3f3;
  padding: 0 10px;
}
.videoPlayer .controls {
  position: absolute;
  height: 40px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.videoPlayer .controls:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  border-radius: 4px;
  opacity: 0.5;
}
.videoPlayer .controls .playControl {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-top: -15px;
}
.videoPlayer .controls .playControl:before {
  content: '\f04b';
  font-family: 'FontAwesome';
  font-size: 22px;
  line-height: 30px;
  color: #f3f3f3;
}
.videoPlayer .controls .progress {
  position: absolute;
  left: 50px;
  right: 160px;
  top: 50%;
  height: 20px;
  margin-top: -10px;
}
.videoPlayer .controls .progress .currentTime,
.videoPlayer .controls .progress .duration {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #f3f3f3;
  margin-top: -10px;
}
.videoPlayer .controls .progress .currentTime {
  left: 0;
}
.videoPlayer .controls .progress .duration {
  right: 0;
}
.videoPlayer .controls .progress .progressBar {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 50%;
  height: 12px;
  margin-top: -6px;
}
.videoPlayer .controls .progress .progressBar .progressInner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 5px;
  border: 1px solid #434343;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  overflow: hidden;
}
.videoPlayer .controls .progress .progressBar .progressInner .buffer,
.videoPlayer .controls .progress .progressBar .progressInner .current {
  position: absolute;
  left: 0;
  right: 100%;
  top: 0;
  bottom: 0;
}
.videoPlayer .controls .progress .progressBar .progressInner .buffer {
  background: #434343;
}
.videoPlayer .controls .progress .progressBar .progressInner .current {
  background: #ccc;
  left: -1px;
  top: -1px;
  bottom: -1px;
}
.videoPlayer .controls .progress .progressBar .currentHandle {
  position: absolute;
  right: 100%;
  top: 50%;
  width: 16px;
  height: 16px;
  background: #f3f3f3;
  border-radius: 100%;
  margin-top: -8px;
  margin-right: -8px;
}
.videoPlayer .controls .progress .progressBar .hoverTime {
  display: none;
  position: absolute;
  left: 0;
  top: -23px;
  width: 30px;
  height: 18px;
  font-size: 11px;
  line-height: 18px;
  color: #f3f3f3;
  text-align: center;
  background: #000;
  margin-left: -15px;
}
.videoPlayer .controls .volume {
  position: absolute;
  right: 52px;
  top: 50%;
  width: 100px;
  height: 30px;
  margin-top: -15px;
}
.videoPlayer .controls .volume .volumeIcon {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  text-align: center;
}
.videoPlayer .controls .volume .volumeIcon:before {
  font-family: 'FontAwesome';
  font-size: 18px;
  line-height: 30px;
  color: #f3f3f3;
}
.videoPlayer .controls .volume.volumeHigh .volumeIcon:before {
  content: '\f028';
}
.videoPlayer .controls .volume.volumeMid .volumeIcon:before {
  content: '\f027';
}
.videoPlayer .controls .volume.volumeLow .volumeIcon:before {
  content: '\f026';
}
.videoPlayer .controls .volume .slider {
  position: absolute;
  top: 50%;
  right: 0;
  left: 32px;
  height: 6px;
  margin-top: -3px;
}
.videoPlayer .controls .volume .slider .sliderInner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 3px;
  border: 1px solid #434343;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  overflow: hidden;
}
.videoPlayer .controls .volume .slider .sliderInner .current {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ccc;
}
.videoPlayer .controls .volume .slider .currentHandle {
  position: absolute;
  right: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #f3f3f3;
  border-radius: 100%;
  margin-right: -5px;
  margin-top: -5px;
}
.videoPlayer .controls .fullscreen {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-top: -15px;
}
.videoPlayer .controls .fullscreen:before {
  content: '\f0b2';
  font-family: 'FontAwesome';
  font-size: 22px;
  line-height: 30px;
  color: #f3f3f3;
}
